.Add_feat{
	background-color: #fcfcfc;
  	background-image: url("wall-1x.png");
    background-position: center center;
    height: 100vh;
    position: relative;
		text-align:center;
		
}
h1 {
	color:Black;
}

.input_addUser_toGroup{
	float: left;
	padding-right: 100px;
}
.text-input{
	position: relative;
}
.done_addUser_toGroup{
	margin-top:150px;
	text-align: center;

}
.done_addUser_toGroup input[type="button"]{
	background-color: #7f7f7f;
	border: 1px solid #7f7f7f;
}

.done_addUser_toGroup input[type="button"]:hover{
	background-color: white;
}
