.App-logo {
  margin-left: 104.72px;
  padding-top: 20px;
  height: 50.38px;
  width: 155px;
}

.App-header {
  background-color: black;
  height: 75px;
  padding: 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App{
  height: 1000px;
  background-color: #fcfcfc;
  background-image: url("wall-1x.png");
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  align-content: center;
}

.primary_button{

  background-color: #c53146; /*Red*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family:  'ProximaNova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
  font-size: 16px;
}
.primary_button:hover{
  color:#fff;background-color:#9c2737;
}
.secondary_button{

  background-color: #c53146; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
a{

  text-decoration: none;
}
#head{
  background-color: black;
  height: 60px;
  width:100%;
  vertical-align: middle;

}

#main_div{
  margin-top: 300px;
}

.group-mng{
  margin-top: 50px;
}

/*for for input box on add feature page*/
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    background: #FFFFFF;
    margin: 50px auto;
  /*  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
*/
}
.form-style-8 h1{
   /* background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;*/
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    /*-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;*/
    background-color: #c53146;
    border: 1px solid #c53146;
    display: inline-block;
    float:left;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
.text-input input{
  float: left;
}